
.portal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portal {
    background: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    background: #ff000044;
    padding: 2px;
}
